.newsletter_banner {
   margin: 120px 300px 100px;
   padding: 20px;

   .broto_img {
      position: absolute;
      top: -10px;
      right: 400px;
      z-index: 9;
   }

   .texto {
      font-family: 'Montserrat', sans-serif;
      opacity: 0.5;
      line-height: 25px;
   }

   .texto__grande {
      font-family: 'Elsie Swash Caps', cursive;
      font-size: 82px;
      margin: 20px 0;
   }

   .box {
      width: 40%;

      p:first-child {
         font-size: 1.3em;
      }
   }

   .formNewsletter {
      position: relative;
      margin-top: 20px;
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

      .email__icon {
         position: absolute;
         top: 20px;
         left: 10px;
      }

      .email__input {
         height: 40px;
         padding: 5px 20px 5px 35px;
         flex: 1;
         border: none;
         font-family: 'Montserrat', sans-serif;
      }

      input:focus {
         box-shadow: 0 0 0 0;
         outline: 0;
      }

      .invalid_email {
         position: absolute;
         bottom: -25px;
         left: 10px;
         color: #f00;
      }

      .submitBtn {
         font-family: 'Montserrat', sans-serif;
         border: none;
         padding: 20px;
         color: #FFF;
         background-color: #FFCB47;
         cursor: pointer;
         z-index: 10;

         &:disabled {
            background-color: #ffcb479d;
         }
      }
   }
}